.gitignore
.vscode/
command_line_args_parser/build/
libraries/
version_printer/build/
version_printer/include/
version_printer/version_printer.cpp
version_printer/version_printer.cpython-311-x86_64-linux-gnu.so
video_streamer/build/
video_streamer/include/frozen/
video_streamer/include/libavcodec/
video_streamer/include/libavdevice/
video_streamer/include/libavfilter/
video_streamer/include/libavformat/
video_streamer/include/libavutil/
video_streamer/include/libpostproc/
video_streamer/include/libswresample/
video_streamer/include/libswscale/
video_streamer/include/rapidjson/
video_streamer/libraries/
